* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.body {
  background-image: url('images/background.png');
  color: white;
}

.title {
  font-size: 5em;
  text-align: center;
}

h2 {
  border: solid red 1px;
  border-radius: 15px;
  font-size: 3em;
  margin: 0 auto;
  padding: 0.2em;
  text-align: center;
  width: 25em;
}

.planetText {
  display: flex;
  flex-direction: column;
}

/* .planetas {
  display: flex;
} */

.card {
  border: solid blue 1px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 8em;
  justify-content: center;
  margin: 0.4em;
  text-align: center;
  width: 17em;
}

.card p {
  padding: 3px;
}

.everyMissions {
  display: flex;
  flex-direction: column;
}

.onlyCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 30px;
  width: 60%;
}

.planetas {
  display: flex;
}

.planetas div img {
  display: flex;
  width: 10em;
}

.planetas div {
  text-align: center;
}